<configuration>
	<system.webServer>
		<handlers>
			<add name="Python FastCGI" path="*" verb="*" modules="FastCgiModule" scriptProcessor="C:\Python\Python311\python.exe|C:\Akhilesh\WYH-Workspace\Python\KYC2\KYC2\wfastcgi\wfastcgi.py" resourceType="Unspecified" requireAccess="Script" />
		</handlers>
	</system.webServer>
	<appSettings>
		<add key="WSGI_HANDLER" value="app.app" />
		<!-- {name_of_file}.{name_of_flask_app}-->
		<add key="PYTHONPATH" value="C:\Users\WYH-IT-806-008\env\kyc\Scripts\python.exe" />
		<add key="WSGI_LOG" value="C:\Akhilesh\WYH-Workspace\Python\KYC2\KYC2\app.log" />
	</appSettings>
</configuration>
